body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column; /* Alteração para empilhar os elementos verticalmente */
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    transition: background 0.5s ease-in-out;
    position: relative;
}

#fundo1 {
    background-image: url('fundo1.jpg'); /* Substitua pelo caminho da sua imagem */
}

#fundo2 {
    background-image: url('fundo2.jpg'); /* Substitua pelo caminho da sua outra imagem */
}

#title-content {
    font-size: 30px;
    text-align: center;
    color: Tomato;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

body {
    margin-left: 50px;
    margin-right: 30px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    position: absolute; /* Adicionado para sobrepor os elementos */
}

#trocarFundoBtn {
    top: 10px;
    left: 10px;
}

#voltarBtn {
    top: 10px; /* Ajuste conforme necessário para posicionar verticalmente */
    right: 10px; /* Ajuste conforme necessário para posicionar horizontalmente */
}

.left-align {
    text-align: left;
}




