body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    transition: background 0.5s ease-in-out;
    position: relative;
}

#fundo1 {
    background-image: url('d9afb2f0c922f34cb6ae8ad219f53ca3.gif');
    color: rgb(245, 238, 238); /* Cor do texto para o fundo1 */
}

#fundo2 {
    background-image: url('tumblr_f0b120459eb2fe221eb93ff27d3533de_97dd6d3a_500.gif');
    color: rgb(3, 3, 3); /* Cor do texto para o fundo2 */
}

#title-content {
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
}

#trocarFundoBtn {
    top: 10px;
    left: 10px;
}

#voltarBtn {
    top: 10px;
    right: 10px;
}

.left-align {
    text-align: left;
}

#background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#background-gif {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
